<!DOCTYPE html>
  <html>
    <head>
      <title><%= full_title(yield(:title))%></title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolnks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolnks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>

      <%= yield %>

    </body>
  </html>